<!-- <div class="container">
  <h1 class="page-header" id="navigation">Welcome</h1>
    
      
      <p>Hi! I am starting a new years resolution (obviously quite a late one) but recently I was placed in my local emergency department because I had been found in my boyfriends bathroom after self harming. I have had a 4 year history of self harm but this was the first time that I had been taken to the emergency department. I was not admitted instead we booked an appointment with my therapist and of me went. After that night I have decided that I want to actually start to like this body that I live in and create a new me! The only problem that I have with my physical body is my weight. Now a lot of my friends say oh but youre so skinny you dont need to lose weight but it will make me happy and I hope that they will support me through my journey to my new self!</p>
      <div>
      <img src="http://localhost:8080/images/3.jpg" alt="">
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
</div> -->
 <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Welcome to Diary website</h1>
                        <h3>Login an memorize your life</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="#/login" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Login</span></a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>